<!-- VisualDesigner BEGIN --><div class="vd-release">
  <style type="text/css" vd-assoc="rvdid--2">
    @media (max-width: 8900000px) {
      #rvdid--2-42 {
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-40 {
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-31 {
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-29 {
        margin: 0px 0px 20px;
      }
      #rvdid--2-11 {
        margin: 0px 0px 20px;
      }
      #rvdid--2-7 {
        border-color: rgb(147, 147, 147);
        border-width: 0px;
        border-style: none;
      }
      #rvdid--2-36 {
        text-align: center;
      }
      #rvdid--2 {
        box-sizing: border-box;
        background-color: rgb(50, 53, 57);
        color: rgb(197, 200, 203);
      }
      #rvdid--2-56 {
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-85 {
        padding: 10px 5px;
      }
      #rvdid--2-87 {
        padding: 10px 5px;
      }
      #rvdid--2-89 {
        padding: 10px 5px;
      }
      #rvdid--2-92 {
        margin: 0px 0px 20px;
      }
      #rvdid--2-96 {
        padding: 10px 5px;
      }
      #rvdid--2-98 {
        padding: 10px 5px;
      }
      #rvdid--2-100 {
        padding: 10px 5px;
      }
    }
    @media (max-width: 768px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
      #rvdid--2-32 {
        padding: 2px 20px 2px 2px;
      }
      #rvdid--2-7 {
        padding: 20px;
      }
      #rvdid--2-27 {
        padding: 2px 20px 2px 2px;
      }
      #rvdid--2-90 {
        padding: 2px 20px 2px 2px;
      }
    }
    @media (max-width: 414px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
      #rvdid--2-32 {
        padding: 2px 20px 20px 2px;
      }
      #rvdid--2-90 {
        padding: 2px 30px 20px 2px;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    vd-designer-name="Main Footer"
    vd-post-id="7"
    vd-tmpl="vd_tmpl_footer"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-structural-widget vd-widget vd-running-designer vd-main vd-container-fluid vd-row-container"
    id="rvdid--2"
    vd-tag-name="Designer"
    vd-version="1.2"
    vd-ts="1604379750"
  >
    <section class="vd-section-widget" vd-type="section" id="rvdid--2-7">
      <div class="vd-section-container">
        <div class="vd-row-widget" vd-type="row" id="rvdid--2-6">
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-32" desktop-width="3" tablet-width="3" mobile-width="6">
            <p id="rvdid--2-11" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="vd-icon-widget vd-drag-disabled vd-icontxt-widget" vd-type="iconTxt" id="rvdid--2-49"><i class="fas fa-store" id="rvdid--2-50"></i></span><b class=""><span class="">Services</span></b>
            </p>
            <a href="#" vd-link="true" id="rvdid--2-85" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">Features</span></a>
            <a href="#" vd-link="true" id="rvdid--2-87" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">Case Studies</span></a>
            <a href="#" vd-link="true" id="rvdid--2-89" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">Blog</span></a>
          </div>
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-90" desktop-width="3" tablet-width="3" mobile-width="6">
            <p id="rvdid--2-92" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="vd-icon-widget vd-drag-disabled vd-icontxt-widget" vd-type="iconTxt" id="rvdid--2-93"><i class="fas fa-archway" id="rvdid--2-94"></i></span><b class=""><span class="">About</span></b>
            </p>
            <a href="#" vd-link="true" id="rvdid--2-96" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">Resources</span></a>
            <a href="#" vd-link="true" id="rvdid--2-98" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">Sales FAQ</span></a>
            <a href="#" vd-link="true" id="rvdid--2-100" class="vd-btn-widget" vd-type="btn" vd-text-type="a" target="_top"><span class="">User Guide</span></a>
          </div>
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-1" vd-type="column" id="rvdid--2-27" desktop-width="3" tablet-width="3" mobile-width="12">
            <p id="rvdid--2-29" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="vd-icon-widget vd-drag-disabled vd-icontxt-widget" vd-type="iconTxt" id="rvdid--2-53"><i class="fas fa-envelope" id="rvdid--2-54"></i></span><b class=""><span>Contact</span></b>
            </p>
            <p id="rvdid--2-31" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="">My Business<br /></span>
            </p>
            <p id="rvdid--2-56" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="">1 Sussex St<br /></span>
            </p>
            <p id="rvdid--2-40" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="">Sydney 2000<br /></span>
            </p>
            <p id="rvdid--2-42" class="vd-text-widget" vd-type="text" vd-text-type="p">
              <span class="">NSW Australia<br /></span>
            </p>
          </div>
        </div>
        <div class="vd-row-widget" vd-type="row" id="rvdid--2-36">
          <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1" vd-type="column" id="rvdid--2-37" desktop-width="12" tablet-width="12" mobile-width="12">
            <p id="rvdid--2-2" class="vd-text-widget" vd-type="text" vd-text-type="p"><span class="">Copyright © My Business. All rights reserved.</span></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- VisualDesigner END -->