<!-- VisualDesigner BEGIN --><div class="vd-release">
  <style type="text/css" vd-assoc="rvdid--1">
    @media (max-width: 8900000px) {
      #rvdid--1 {
        box-sizing: border-box;
        margin-bottom: 20px;
      }
      #rvdid--1-2 {
        padding: 0px;
      }
    }
    @media (max-width: 768px) {
      #rvdid--1 {
        box-sizing: border-box;
      }
    }
    @media (max-width: 414px) {
      #rvdid--1 {
        box-sizing: border-box;
        margin-bottom: 5px;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    data-framework="wpmenuFramework"
    vd-designer-name="mh"
    vd-post-id="48"
    vd-tmpl="vd_tmpl_header"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-main vd-running-designer"
    vd-version="1.2"
    id="rvdid--1"
    vd-ts="1604364462"
  >
    <section class="vd-section-widget" vd-type="section" id="rvdid--1-3">
      <div class="vd-section-container">
        <div class="vd-row-widget" vd-type="row" id="rvdid--1-2">
          <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1" vd-type="column" desktop-width="12" tablet-width="12" mobile-width="12" id="rvdid--1-1">
            <div class="vd-nav-widget" vd-type="nav" id="rvdid--1-4">
              <div class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-c-left vd-c-middle vd-sm-horz vd-xs-horz vd-10 vd-sm-1 vd-xs-1" vd-type="nav-cnt" id="rvdid--1-5" desktop-width="3" tablet-width="12" mobile-width="12">
                <a
                  class="vd-nav-hamb-widget vd-desktop-hidden vd-abs-right"
                  vd-type="nav-hamburger"
                  id="rvdid--1-8"
                  vd-text-type="a"
                  href="#/"
                  style=""
                  draggable="false"
                  onmouseup='jQuery(this).closest("[vd-type=&apos;nav-cnt&apos;]").siblings(".vd-collapsable").toggleClass("vd-triggered").find(".vd-triggered").removeClass("vd-triggered");'
                >
                  <span class="vd-icontxt-widget fas fa-bars vd-drag-disabled" vd-type="iconTxt" id="rvdid--1-9"></span><span class="">MENU</span>
                </a>
                <a vd-type="link" draggable="false" href='[vd_convert c="S_U" attr="href" ]'>
                  <img
                    class="vd-img-widget"
                    vd-tag-name="Site Logo"
                    vd-type="img"
                    id="rvdid--1-43"
                    src='[vd_convert c="S_L" attr="src" ]'
                    vd-a="true"
                    vd-dynamic="%7B%22config%22%3A%7B%22type%22%3A%22wp%22%2C%22target%22%3A%22%23rvdid--1-43%22%7D%2C%22src%22%3A%7B%22code%22%3A%22c%3D%5C%22S_L%5C%22%20attr%3D%5C%22src%5C%22%20%22%7D%2C%22href%22%3A%7B%22code%22%3A%22c%3D%5C%22S_U%5C%22%20attr%3D%5C%22href%5C%22%20%22%7D%7D"
                  />
                </a>
                <a
                  class="vd-btn-widget"
                  vd-tag-name="Site Title"
                  vd-type="btn"
                  id="rvdid--1-44"
                  vd-text-type="a"
                  href='[vd_convert c="S_U" attr="href" ]'
                  vd-dynamic="%7B%22config%22%3A%7B%22type%22%3A%22wp%22%2C%22target%22%3A%22%23rvdid--1-44%22%7D%2C%22href%22%3A%7B%22code%22%3A%22c%3D%5C%22S_U%5C%22%20attr%3D%5C%22href%5C%22%20%22%7D%2C%22txt%22%3A%7B%22code%22%3A%22c%3D%5C%22S_T%5C%22%20attr%3D%5C%22txt%5C%22%20%22%7D%7D"
                >
                  [vd_convert c="S_T" attr="txt" ]
                </a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-collapsable vd-c-right vd-c-middle vd-c-sm-left vd-slide-v-d vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-4 vd-sm-1 vd-xs-1"
                vd-type="nav-cnt"
                id="rvdid--1-6"
                desktop-width="9"
                tablet-width="12"
                mobile-width="12"
              >
                <div class="vd-dropdown-widget vd-dropdown-hover" vd-type="dropdown" id="rvdid--1-12" vd-text-type="div" style="display: block;">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid--1-13"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                    draggable="false"
                  >
                    <span>Dropdown Btn</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid--1-14"></span>
                  </a>
                  <div class="vd-dd-cnt-widget vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable" vd-type="dd-cnt" id="rvdid--1-15" style="">
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-16" vd-text-type="a" href="#/"><span class="">Service 1</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-17" vd-text-type="a" href="#/"><span class="">Service 2</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-18" vd-text-type="a" href="#/"><span class="">Service 3</span></a>
                  </div>
                </div>
                <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-10" vd-text-type="a" href="#/"><span class="">About</span></a>
                <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-11" vd-text-type="a" href="#/"><span class="">Contact</span></a>
                <div class="vd-megamenu-widget" vd-type="megamenu" id="rvdid--1-19" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid--1-20"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                    draggable="false"
                  >
                    <span>Mega Menu</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid--1-21"></span>
                  </a>
                  <div class="vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable vd-mm-row-widget" vd-type="mm-row" id="rvdid--1-22" style="">
                    <div class="vd-section-container vd-ignore">
                      <div class="vd-row-widget vd-c-left" vd-target="true">
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--1-23" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid--1-24" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-25" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-26" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-27" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--1-28" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid--1-29" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-30" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-31" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-32" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--1-33" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid--1-34" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-35" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-36" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-37" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--1-38" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid--1-39" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-40" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-41" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid--1-42" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- VisualDesigner END -->