<!-- VisualDesigner BEGIN -->
<div class="vd-release">
  <style type="text/css" vd-assoc="rvdid-11565">
    @media (max-width: 8900000px) {
      #rvdid-11565 {
        box-sizing: border-box;
      }
      #rvdid-11565-1 {
        background-color: rgb(19, 25, 33);
      }
      #rvdid-11565-2 {
        padding: 0px;
      }
      #rvdid-11565-3 {
        padding: 0px;
      }
      #rvdid-11565-6 {
        padding: 15px 0px;
      }
      #rvdid-11565-22 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-22:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-23 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-23:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-25 {
        background-color: rgb(35, 47, 63);
        padding: 5px 0px;
      }
      #rvdid-11565-26 {
        background-color: rgb(35, 47, 63);
      }
      #rvdid-11565-28 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-28:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-30 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-32 {
        background-color: rgb(35, 47, 63);
      }
      #rvdid-11565-30:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-54 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-56 {
        background-color: rgb(35, 47, 63);
      }
      #rvdid-11565-57 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-57:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-58 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-58:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-59 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-59:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-54:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-61 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-63 {
        background-color: rgb(35, 47, 63);
      }
      #rvdid-11565-61:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-85 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-87 {
        background-color: rgb(35, 47, 63);
      }
      #rvdid-11565-88 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-88:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-89 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-89:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-90 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-90:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-85:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-91 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
      }
      #rvdid-11565-91:hover {
        border-width: 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-radius: 4px;
      }
      #rvdid-11565-92 {
        color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 16px;
        border-width: 1.5px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0);
        padding: 5px;
        font-weight: bold;
      }
    }
    @media (max-width: 768px) {
      #rvdid-11565 {
        box-sizing: border-box;
      }
    }
    @media (max-width: 414px) {
      #rvdid-11565 {
        box-sizing: border-box;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    data-framework="wpmenuFramework"
    vd-designer-name="everywhereist"
    vd-post-id="11565"
    vd-tmpl="vd_tmpl_header"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-main vd-running-designer vd-pre-1-2"
    vd-version="1.2"
    id="rvdid-11565"
    vd-ts="1611896423"
  >
    <section class="vd-section-widget" vd-type="section" id="rvdid-11565-1">
      <div class="vd-section-container vd-ignore">
        <div class="vd-row-widget" vd-type="row" id="rvdid-11565-2">
          <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1" vd-type="column" id="rvdid-11565-3" desktop-width="12" tablet-width="12" mobile-width="12">
            <div class="vd-nav-widget" vd-type="nav" id="rvdid-11565-5">
              <div class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-c-left vd-c-middle vd-sm-horz vd-xs-horz vd-sm-1 vd-xs-1 vd-11" vd-type="nav-cnt" id="rvdid-11565-6" desktop-width="2" tablet-width="12" mobile-width="12">
                <a vd-type="link" href="/"><img class="vd-img-widget" vd-type="img" id="rvdid-11565-9" src="http://v130.visualdesigner.io/wp-content/uploads/2021/01/PinClipart.com_barber-clippers-clipart_576184.png" vd-a="true" /></a>
                <a
                  class="vd-nav-hamb-widget vd-desktop-hidden vd-abs-right"
                  vd-type="nav-hamburger"
                  id="rvdid-11565-10"
                  vd-text-type="a"
                  href="#/"
                  onmouseup='jQuery(this).closest("[vd-type=&apos;nav-cnt&apos;]").siblings(".vd-collapsable").toggleClass("vd-triggered").find(".vd-triggered").removeClass("vd-triggered");'
                >
                  <span class="vd-icontxt-widget fas fa-bars vd-drag-disabled" vd-type="iconTxt" id="rvdid-11565-13"></span><span class="">MENU</span>
                </a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-collapsable vd-c-right vd-c-middle vd-c-sm-left vd-slide-v-d vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-sm-1 vd-xs-1 vd-7"
                vd-type="nav-cnt"
                id="rvdid-11565-7"
                desktop-width="6"
                tablet-width="12"
                mobile-width="12"
              >
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-22" vd-text-type="a" href="#/"><span class="">About</span></a>
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-23" vd-text-type="a" href="#/"><span class="">Contact</span></a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-sm-1 vd-xs-1 vd-collapsable vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-c-center vd-c-middle vd-c-sm-left vd-9"
                vd-type="nav-cnt"
                id="rvdid-11565-24"
                desktop-width="4"
                tablet-width="12"
                mobile-width="12"
              >
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-28" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-sm-7 vd-xs-1 vd-collapsable vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-c-center vd-c-middle vd-c-sm-left vd-5"
                vd-type="nav-cnt"
                id="rvdid-11565-25"
                desktop-width="8"
                tablet-width="6"
                mobile-width="12"
              >
                <div class="vd-megamenu-widget" vd-type="megamenu" id="rvdid-11565-29" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11565-30"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                    vd-font-units="px"
                  >
                    <span>Best Sellers</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid-11565-31"></span>
                  </a>
                  <div class="vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable vd-mm-row-widget" vd-type="mm-row" id="rvdid-11565-32">
                    <div class="vd-section-container vd-ignore">
                      <div class="vd-row-widget vd-c-left" vd-target="true">
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-33" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-34" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-35" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-36" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-37" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-38" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-39" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-40" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-41" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-42" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-43" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-44" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-45" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-46" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-47" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-48" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-49" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-50" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-51" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-52" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vd-dropdown-widget vd-dropdown-hover" vd-type="dropdown" id="rvdid-11565-53" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11565-54"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                  >
                    <span>Dropdown Btn</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid-11565-55"></span>
                  </a>
                  <div class="vd-dd-cnt-widget vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable" vd-type="dd-cnt" id="rvdid-11565-56">
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-57" vd-text-type="a" href="#/"><span class="">Service 1</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-58" vd-text-type="a" href="#/"><span class="">Service 2</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-59" vd-text-type="a" href="#/"><span class="">Service 3</span></a>
                  </div>
                </div>
                <div class="vd-megamenu-widget" vd-type="megamenu" id="rvdid-11565-60" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11565-61"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                  >
                    <span>Mega Menu</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid-11565-62"></span>
                  </a>
                  <div class="vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable vd-mm-row-widget" vd-type="mm-row" id="rvdid-11565-63">
                    <div class="vd-section-container vd-ignore">
                      <div class="vd-row-widget vd-c-left" vd-target="true">
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-64" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-65" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-66" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-67" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-68" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-69" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-70" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-71" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-72" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-73" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-74" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-75" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-76" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-77" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-78" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                        <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid-11565-79" desktop-width="3" tablet-width="3" mobile-width="6">
                          <p class="vd-text-widget vd-header" vd-type="text" id="rvdid-11565-80" vd-text-type="p"><span class="">Heading</span></p>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-81" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-82" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                          <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-83" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vd-dropdown-widget vd-dropdown-hover" vd-type="dropdown" id="rvdid-11565-84" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11565-85"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                  >
                    <span>Dropdown Btn</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid-11565-86"></span>
                  </a>
                  <div class="vd-dd-cnt-widget vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable" vd-type="dd-cnt" id="rvdid-11565-87">
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-88" vd-text-type="a" href="#/"><span class="">Service 1</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-89" vd-text-type="a" href="#/"><span class="">Service 2</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-90" vd-text-type="a" href="#/"><span class="">Service 3</span></a>
                  </div>
                </div>
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11565-91" vd-text-type="a" href="#/"><span class="">Press Me</span></a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-sm-7 vd-xs-1 vd-collapsable vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-c-middle vd-c-sm-left vd-9 vd-c-right"
                vd-type="nav-cnt"
                id="rvdid-11565-26"
                desktop-width="4"
                tablet-width="6"
                mobile-width="12"
              >
                <p class="vd-text-widget vd-right" vd-type="text" id="rvdid-11565-92" vd-text-type="p"><span class="">XYZUnlimited Try your first month free!</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- VisualDesigner END -->