<!-- VisualDesigner BEGIN -->
<div class="vd-release">
  <style type="text/css" vd-assoc="rvdid--2">
    @media (max-width: 8900000px) {
      #rvdid--2-7 {
        border-color: rgb(147, 147, 147);
        border-width: 0px;
        border-style: none;
      }
      #rvdid--2 {
        box-sizing: border-box;
        background-color: rgb(248, 248, 248);
        color: rgb(65, 75, 86);
      }
      #rvdid--2-8 {
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: rgb(160, 160, 160);
        padding: 50px 10px;
      }
      #rvdid--2-9 {
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: rgb(160, 160, 160);
        padding: 10px;
      }
      #rvdid--2-10 {
        font-weight: bold;
        font-size: 15px;
      }
      #rvdid--2-12 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-12:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-13 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-13:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-14 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-14:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-15 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-15:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-16 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-16:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-18 {
        font-weight: bold;
        font-size: 15px;
      }
      #rvdid--2-19 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-19:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-20 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-20:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-21 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-21:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-25 {
        font-weight: bold;
        font-size: 15px;
      }
      #rvdid--2-26 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-26:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-28 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-28:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-30 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-30:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-33 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-33:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-34 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-34:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-38 {
        font-weight: bold;
        font-size: 15px;
      }
      #rvdid--2-39 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-39:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-41 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-41:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-43 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-43:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-44 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-44:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-45 {
        color: rgb(85, 85, 98);
        font-size: 14px;
      }
      #rvdid--2-45:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-46 {
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0px 0px;
      }
      #rvdid--2-47 {
        font-weight: bold;
        font-size: 22px;
      }
      #rvdid--2-73 {
        color: rgb(85, 85, 98);
        font-size: 12px;
      }
      #rvdid--2-73:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-74 {
        color: rgb(85, 85, 98);
        font-size: 12px;
      }
      #rvdid--2-74:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-75 {
        color: rgb(85, 85, 98);
        font-size: 12px;
      }
      #rvdid--2-75:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-76 {
        color: rgb(85, 85, 98);
        font-size: 12px;
      }
      #rvdid--2-76:hover {
        color: rgb(140, 164, 186);
      }
      #rvdid--2-1 {
        padding: 10px 10px 20px;
      }
      #rvdid--2-6 {
        padding: 20px;
      }
      #rvdid--2-17 {
        padding: 10px 10px 20px;
      }
      #rvdid--2-24 {
        padding: 10px 10px 20px;
      }
      #rvdid--2-35 {
        padding: 10px 10px 20px;
      }
      #rvdid--2-2 {
        color: rgb(85, 85, 98);
        font-weight: bold;
        padding: 10px;
        line-height: normal;
        font-size: 16px;
      }
      #rvdid--2-2:hover {
        color: rgb(159, 185, 202);
      }
      #rvdid--2-3 {
        font-size: 38px;
        line-height: normal;
        margin: 0px 0px 10px;
        display: block !important;
      }
      #rvdid--2-4 {
        color: rgb(85, 85, 98);
        font-weight: bold;
        padding: 10px;
        line-height: normal;
        font-size: 16px;
      }
      #rvdid--2-4:hover {
        color: rgb(159, 185, 202);
      }
      #rvdid--2-5 {
        font-size: 38px;
        line-height: normal;
        margin: 0px 0px 10px;
        display: block !important;
      }
      #rvdid--2-11 {
        color: rgb(85, 85, 98);
        font-weight: bold;
        padding: 10px;
        line-height: normal;
        font-size: 16px;
      }
      #rvdid--2-11:hover {
        color: rgb(159, 185, 202);
      }
      #rvdid--2-23 {
        font-size: 38px;
        line-height: normal;
        margin: 0px 0px 10px;
        display: block !important;
      }
      #rvdid--2-27 {
        color: rgb(85, 85, 98);
        font-weight: bold;
        padding: 10px;
        line-height: normal;
        font-size: 16px;
      }
      #rvdid--2-27:hover {
        color: rgb(159, 185, 202);
      }
      #rvdid--2-29 {
        font-size: 38px;
        line-height: normal;
        margin: 0px 0px 10px;
        display: block !important;
      }
    }
    @media (max-width: 768px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
      #rvdid--2-7 {
        padding: 20px;
      }
    }
    @media (max-width: 414px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
      #rvdid--2-1 {
        padding: 10px 2px 20px;
      }
      #rvdid--2-6 {
        padding: 20px 2px;
      }
      #rvdid--2-17 {
        padding: 10px 2px 20px;
      }
      #rvdid--2-24 {
        padding: 10px 2px 20px;
      }
      #rvdid--2-35 {
        padding: 10px 2px 20px;
      }
      #rvdid--2-8 {
        padding: 30px 10px;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    vd-designer-name="Main Footer"
    vd-post-id="542"
    vd-tmpl="vd_tmpl_footer"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-structural-widget vd-widget vd-running-designer vd-main vd-container-fluid vd-row-container"
    id="rvdid--2"
    vd-tag-name="Designer"
    vd-version="1.2"
    vd-ts="1611967350"
  >
    <section class="vd-section-widget" vd-type="section" id="rvdid--2-7">
      <div class="vd-section-container">
        <div class="vd-row-widget" vd-type="row" id="rvdid--2-6">
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-1" desktop-width="3" tablet-width="3" mobile-width="6">
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-10" vd-text-type="p" vd-font-units="px"><span class="">PRODUCTS</span></p>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-12" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Eyeglasses</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-13" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Sunglasses</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-14" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Contacts</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-15" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Accessories</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-16" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Gift cards</span></a>
          </div>
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-17" desktop-width="3" tablet-width="3" mobile-width="6">
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-18" vd-text-type="p" vd-font-units="px"><span class="">SHOP ONLINE</span></p>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-19" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Try 5 for free</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-20" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Virtually try on frames</span></a>
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-46" vd-text-type="p" vd-font-units="px"><span class="">SHOP ONLINE</span></p>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-21" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Find a location</span></a>
          </div>
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-24" desktop-width="3" tablet-width="3" mobile-width="6">
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-25" vd-text-type="p" vd-font-units="px"><span class="">EDUCATION</span></p>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-26" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Eyeglasses</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-28" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Sunglasses</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-30" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Contacts</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-33" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Accessories</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-34" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Gift cards</span></a>
          </div>
          <div class="vd-column-widget vd-10 vd-sm-10 vd-xs-7" vd-type="column" id="rvdid--2-35" desktop-width="3" tablet-width="3" mobile-width="6">
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-38" vd-text-type="p" vd-font-units="px"><span class="">ABOUT US</span></p>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-39" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Our story</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-41" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Customer Reviews</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-43" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Jobs</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-44" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Accessories</span></a>
            <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-45" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Feedback</span></a>
          </div>
          <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1 vd-c-center" vd-type="column" id="rvdid--2-8" desktop-width="12" tablet-width="12" mobile-width="12">
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-47" vd-text-type="p" vd-font-units="px"><span class="">Need a hand?</span></p>
            <p class="vd-text-widget" vd-type="text" id="rvdid--2-48" vd-text-type="p"><span class="">We're available by phone everyday from 9a.m-10p.m ET.</span></p>
            <div class="vd-container-widget vd-c-center vd-horz vd-sm-horz vd-xs-horz" vd-type="container" id="rvdid--2-51">
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-2" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer" vd-font-units="px">
                <span class="vd-icontxt-widget vd-drag-disabled fas fa-phone-square-alt" vd-type="iconTxt" id="rvdid--2-3" vd-font-units="px" vd-style-identifier="#rvdid--2-2"></span><span class="">Call</span>
              </a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-4" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer" vd-font-units="px">
                <span class="vd-icontxt-widget vd-drag-disabled fas fa-passport" vd-type="iconTxt" id="rvdid--2-5" vd-font-units="px" vd-style-identifier="#rvdid--2-2"></span><span class="">FAQ</span>
              </a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-11" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer" vd-font-units="px">
                <span class="vd-icontxt-widget vd-drag-disabled fas fa-envelope" vd-type="iconTxt" id="rvdid--2-23" vd-font-units="px" vd-style-identifier="#rvdid--2-2"></span><span class="">Email</span>
              </a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-27" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer" vd-font-units="px">
                <span class="vd-icontxt-widget vd-drag-disabled fas fa-comment-dots" vd-type="iconTxt" id="rvdid--2-29" vd-font-units="px" vd-style-identifier="#rvdid--2-2"></span><span class="">Chat</span>
              </a>
            </div>
          </div>
          <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1 vd-c-center" vd-type="column" id="rvdid--2-9" desktop-width="12" tablet-width="12" mobile-width="12">
            <div class="vd-container-widget vd-horz vd-c-center vd-sm-horz vd-xs-horz" vd-type="container" id="rvdid--2-72">
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-73" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Privacy Policy</span></a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-74" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Notice of Privacy Practices</span></a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-75" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Terms of Use</span></a>
              <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-76" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener noreferrer"><span class="">Accessibility</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- VisualDesigner END -->
