<!-- VisualDesigner BEGIN -->
<div class="vd-release">
  <style type="text/css" vd-assoc="rvdid--2">
    @media (max-width: 8900000px) {
      #rvdid--2 {
        box-sizing: border-box;
        background-color: rgb(9, 6, 33);
        color: rgb(197, 200, 203);
      }
      #rvdid--2-6 {
        padding: 70px 20px 60px;
      }
      #rvdid--2-27 {
        color: rgb(255, 255, 255);
        font-size: 41px;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 51px;
        margin: 0px 0px 40px;
      }
      #rvdid--2-29 {
        font-weight: bold;
      }
      #rvdid--2-31 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border-width: 1.5px;
        border-style: solid;
        display: inline-block;
        padding: 20px 30px;
        margin: 0px 0px 30px;
      }
      #rvdid--2-31:hover {
        background-color: rgba(255, 255, 255, 0.16);
      }
      #rvdid--2-37 {
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 28px;
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-49 {
        color: rgb(255, 255, 255);
        font-size: 41px;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 51px;
        margin: 0px 0px 40px;
      }
      #rvdid--2-50 {
        font-weight: bold;
      }
      #rvdid--2-52 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        border-width: 1.5px;
        border-style: solid;
        display: inline-block;
        padding: 20px 30px;
        margin: 0px 0px 30px;
      }
      #rvdid--2-52:hover {
        background-color: rgba(255, 255, 255, 0.16);
      }
      #rvdid--2-53 {
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 28px;
        margin: 0px;
        padding: 5px 0px;
      }
      #rvdid--2-55 {
        font-weight: bold;
      }
      #rvdid--2-1 {
        padding: 10px 0px;
      }
      #rvdid--2-2 {
        font-weight: bold;
      }
      #rvdid--2-3 {
        font-weight: bold;
      }
      #rvdid--2-5 {
        font-size: 12px;
        color: #fff;
      }
      #rvdid--2-11 {
        width: 60%;
      }
    }
    @media (max-width: 768px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
      #rvdid--2-6 {
        padding: 40px 20px;
      }
      #rvdid--2-7 {
        padding: 2px 2px 40px;
      }
    }
    @media (max-width: 414px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    vd-designer-name="Main Footer"
    vd-post-id="542"
    vd-tmpl="vd_tmpl_footer"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-structural-widget vd-widget vd-running-designer vd-main vd-container-fluid vd-row-container"
    id="rvdid--2"
    vd-tag-name="Designer"
    vd-version="1.2"
    vd-ts="1611978830"
  >
    <div class="vd-row-widget" vd-type="row" id="rvdid--2-6">
      <div class="vd-column-widget vd-sm-1 vd-xs-1 vd-10 vd-c-bottom" vd-type="column" id="rvdid--2-1" desktop-width="3" tablet-width="12" mobile-width="12">
        <p class="vd-text-widget" vd-tag-name="Copyright" vd-type="text" id="rvdid--2-5" vd-text-type="p" vd-font-units="px"><span class="">Copyright © My Business. All rights reserved.</span></p>
      </div>
      <div class="vd-column-widget vd-xs-1 vd-c-center vd-sm-1 vd-c-xs-center vd-10 vd-tablet-hidden vd-mobile-hidden" vd-type="column" id="rvdid--2-7" desktop-width="3" tablet-width="12" mobile-width="12">
        <a vd-type="link" href="http://v130.visualdesigner.io" class=""></a>
        <a vd-type="link" href='[vd_convert c="S_U" attr="href" ]'>
          <img
            class="vd-img-widget"
            vd-tag-name="Site Logo"
            vd-type="img"
            id="rvdid--2-11"
            src='[vd_convert c="S_L" attr="src" ]'
            vd-a="true"
            vd-dynamic="%7B%22config%22%3A%7B%22type%22%3A%22wp%22%2C%22target%22%3A%22%23rvdid--2-11%22%7D%2C%22src%22%3A%7B%22code%22%3A%22c%3D%5C%22S_L%5C%22%20attr%3D%5C%22src%5C%22%20%22%7D%2C%22href%22%3A%7B%22code%22%3A%22c%3D%5C%22S_U%5C%22%20attr%3D%5C%22href%5C%22%20%22%7D%7D"
          />
        </a>
      </div>
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-7" vd-type="column" id="rvdid--2-10" desktop-width="3" tablet-width="6" mobile-width="12">
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-27" vd-text-type="p" vd-font-units="px" vd-lh-units="px">
          <span class="">
            EcoSwed<br />
            <span id="rvdid--2-29">Sweden</span><br />
          </span>
        </p>
        <a class="vd-btn-widget vd-sm-left vd-left" vd-type="btn" id="rvdid--2-31" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">EMAIL US NOW</span></a>
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-37" vd-text-type="p" vd-font-units="px" vd-lh-units="px">
          <span class="">
            <span id="rvdid--2-2">Orsa Sweden</span><br />
            Kvarnberg 122 <br />
            794 98 Orsa Sweden<br />
            CVR: 35646965<br />
          </span>
        </p>
      </div>
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-7" vd-type="column" id="rvdid--2-42" desktop-width="3" tablet-width="6" mobile-width="12">
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-49" vd-text-type="p" vd-font-units="px" vd-lh-units="px">
          <span class="">
            EcoSwed<br />
            <span id="rvdid--2-50">Foundation</span><br />
          </span>
        </p>
        <a class="vd-btn-widget vd-sm-left vd-left" vd-type="btn" id="rvdid--2-52" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">EMAIL US NOW</span></a>
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-53" vd-text-type="p" vd-font-units="px" vd-lh-units="px">
          <span class="">
            <span id="rvdid--2-55"></span><span id="rvdid--2-3">Los Sweden</span><br />
            Furubergsvägen 6 <br />
            820 50 Los Sweden<br />
            CVR: 35646965
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- VisualDesigner END -->
