<!-- VisualDesigner BEGIN -->
<div class="vd-release">
  <style type="text/css" vd-assoc="rvdid--2">
    @media (max-width: 8900000px) {
      #rvdid--2 {
        box-sizing: border-box;
        background-color: rgb(50, 53, 57);
        color: rgb(197, 200, 203);
      }
      #rvdid--2-8 {
        background-color: rgb(255, 232, 138);
      }
      #rvdid--2-12 {
        padding: 60px 10px;
      }
      #rvdid--2-13 {
        color: rgb(68, 68, 68);
        font-weight: bold;
        font-size: 63px;
      }
      #rvdid--2-14 {
        color: rgb(112, 112, 112);
        font-size: 18px;
        font-weight: bold;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 21px;
        background-color: rgb(255, 255, 255);
        padding: 20px 30px;
        margin: 30px 0px 0px;
      }
      #rvdid--2-14:hover {
        background-color: rgb(237, 237, 237);
      }
      #rvdid--2-20 {
        background-color: rgb(30, 30, 30);
      }
      #rvdid--2-25 {
        color: rgb(112, 112, 112);
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 21px;
      }
      #rvdid--2-26 {
        color: rgb(112, 112, 112);
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma, Geneva, sans-serif;
      }
      #rvdid--2-26:hover {
        color: rgb(206, 206, 206);
      }
      #rvdid--2-28 {
        color: rgb(81, 81, 81);
      }
      #rvdid--2-30 {
        color: rgb(112, 112, 112);
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma, Geneva, sans-serif;
        line-height: 21px;
      }
      #rvdid--2-33 {
        color: rgb(81, 81, 81);
      }
      #rvdid--2-34 {
        color: rgb(81, 81, 81);
        font-size: 33px;
        line-height: normal;
      }
      #rvdid--2-34:hover {
        color: rgb(160, 160, 160);
      }
      #rvdid--2-41 {
        color: rgb(81, 81, 81);
        font-size: 33px;
        line-height: normal;
      }
      #rvdid--2-41:hover {
        color: rgb(160, 160, 160);
      }
      #rvdid--2-1 {
        color: rgb(68, 68, 68);
        font-weight: bold;
        font-size: 28px;
      }
    }
    @media (max-width: 768px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
    }
    @media (max-width: 414px) {
      #rvdid--2 {
        box-sizing: border-box;
      }
    }
  </style>
  <div
    data-type="visual-designer"
    vd-designer-name="Main Footer"
    vd-post-id="503"
    vd-tmpl="vd_tmpl_footer"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-structural-widget vd-widget vd-running-designer vd-main vd-container-fluid vd-row-container"
    id="rvdid--2"
    vd-tag-name="Designer"
    vd-version="1.2"
    vd-ts="1611981092"
  >
    <div class="vd-row-widget" vd-type="row" id="rvdid--2-8">
      <div class="vd-column-widget vd-1 vd-sm-1 vd-xs-1 vd-c-center" vd-type="column" id="rvdid--2-12" desktop-width="12" tablet-width="12" mobile-width="12">
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-13" vd-text-type="p" vd-font-units="px"><span class="">LET'S CHAT!</span></p>
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-1" vd-text-type="p" vd-font-units="px"><span class="">We would love to learn about your project.&nbsp;</span></p>
        <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-14" vd-text-type="a" href="#/" vd-font-units="px" target="_top" rel="noopener"><span class="">CONTACT US</span></a>
      </div>
    </div>
    <div class="vd-row-widget" vd-type="row" id="rvdid--2-20">
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-9 vd-tablet-hidden vd-mobile-hidden" vd-type="column" id="rvdid--2-21" desktop-width="3" tablet-width="4" mobile-width="12">
        <p class="vd-text-widget" vd-tag-name="Copyright" vd-type="text" id="rvdid--2-25" vd-text-type="p"><span class="">© MY BUSINESS. ALL RIGHTS RESERVED.</span></p>
      </div>
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-9 vd-tablet-hidden vd-mobile-hidden" vd-type="column" id="rvdid--2-22" desktop-width="3" tablet-width="4" mobile-width="12">
        <a class="vd-btn-widget" vd-type="btn" id="rvdid--2-26" vd-text-type="a" href="#/" vd-font-units="px" vd-style-identifier="#rvdid--2-14" target="_top" rel="noopener">
          <span class="vd-icontxt-widget vd-drag-disabled fas fa-envelope" vd-type="iconTxt" id="rvdid--2-28" vd-style-identifier="#rvdid--2-26"></span><span class="">HELLO@MYBUSINESS.COM</span>
        </a>
      </div>
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-9 vd-tablet-hidden vd-mobile-hidden" vd-type="column" id="rvdid--2-23" desktop-width="3" tablet-width="4" mobile-width="12">
        <p class="vd-text-widget" vd-type="text" id="rvdid--2-30" vd-text-type="p" vd-lh-units="px">
          <span class="vd-icontxt-widget vd-drag-disabled fas fa-map-marker-alt" vd-type="iconTxt" id="rvdid--2-33"></span>
          <span class="">
            &nbsp;1900 Bellview Blvd.<br />
            &nbsp;&nbsp;&nbsp;&nbsp; Westminster UK<br />
          </span>
        </p>
      </div>
      <div class="vd-column-widget vd-10 vd-xs-1 vd-sm-1" vd-type="column" id="rvdid--2-24" desktop-width="3" tablet-width="12" mobile-width="12">
        <div class="vd-container-widget vd-horz vd-c-top vd-c-right vd-sm-horz vd-c-sm-center vd-xs-horz" vd-type="container" id="rvdid--2-35">
          <a vd-type="link" href="https://www.facebook.com" class=""><span vd-type="icon" id="rvdid--2-34" vd-font-units="px" class="vd-icon-widget fab fa-facebook" vd-a="true"></span></a>
          <a vd-type="link" href="https://www.twitter.com" class=""><span vd-type="icon" id="rvdid--2-41" vd-font-units="px" vd-a="true" class="vd-icon-widget fab fa-twitter"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- VisualDesigner END -->
