<!-- VisualDesigner BEGIN -->
<div class="vd-release">
  <style type="text/css" vd-assoc="rvdid-11539">
    @media (max-width: 8900000px) {
      #rvdid-11539 {
        box-sizing: border-box;
        background-color: rgb(8, 12, 41);
      }
      #rvdid-11539-2 {
        padding: 0px;
      }
      #rvdid-11539-5 {
        padding: 250px 10px 10px;
      }
      #rvdid-11539-13 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 10px 5px;
      }
      #rvdid-11539-13:hover {
        color: rgb(173, 173, 173);
        border-width: 0px 1.5px 1.5px 0px;
        border-style: solid;
        border-color: rgb(225, 225, 9);
      }
      #rvdid-11539-15 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 22px;
        padding: 10px;
      }
      #rvdid-11539-17 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 10px 5px;
      }
      #rvdid-11539-19 {
        background-color: rgba(255, 255, 255, 0.42);
      }
      #rvdid-11539-20 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-20:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-21 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-21:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-22 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-22:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-17:hover {
        color: rgb(173, 173, 173);
        border-width: 0px 1.5px 1.5px 0px;
        border-style: solid;
        border-color: rgb(225, 225, 9);
      }
      #rvdid-11539-24 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 10px 5px;
      }
      #rvdid-11539-24:hover {
        color: rgb(173, 173, 173);
        border-width: 0px 1.5px 1.5px 0px;
        border-style: solid;
        border-color: rgb(225, 225, 9);
      }
      #rvdid-11539-26 {
        background-color: rgba(255, 255, 255, 0.42);
      }
      #rvdid-11539-27 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-27:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-28 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-28:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-29 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
      }
      #rvdid-11539-29:hover {
        color: rgb(35, 35, 35);
      }
      #rvdid-11539-30 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 10px 5px;
      }
      #rvdid-11539-30:hover {
        color: rgb(173, 173, 173);
        border-width: 0px 1.5px 1.5px 0px;
        border-style: solid;
        border-color: rgb(225, 225, 9);
      }
      #rvdid-11539-34 {
        font-size: 39px;
        color: rgb(255, 255, 255);
        margin: 0px 0px 30px;
      }
      #rvdid-11539-35 {
        font-weight: bold;
      }
      #rvdid-11539-39 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 20px;
        border-width: 0px 0px 1.5px 1.5px;
        border-style: solid;
      }
      #rvdid-11539-39:hover {
        background-color: rgba(193, 193, 193, 0.2);
      }
      #rvdid-11539-40 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 20px;
        border-width: 0px 0px 1.5px 1.5px;
        border-style: solid;
      }
      #rvdid-11539-40:hover {
        background-color: rgba(193, 193, 193, 0.2);
      }
      #rvdid-11539-11:hover {
        background-color: rgba(193, 193, 193, 0.2);
      }
      #rvdid-11539-11 {
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-family: Verdana, Geneva, sans-serif;
        padding: 20px;
        border-width: 0px 0px 1.5px 1.5px;
        border-style: solid;
      }
      #rvdid-11539-4 {
        padding: 20px 20px 40px;
      }
      #rvdid-11539-15:hover {
        border-width: 0px 1.5px 1.5px 0px;
        border-style: solid;
        border-color: rgb(225, 225, 9);
      }
    }
    @media (max-width: 768px) {
      #rvdid-11539 {
        box-sizing: border-box;
      }
      #rvdid-11539-37 {
        padding: 5px;
      }
      #rvdid-11539-38 {
        padding: 5px;
      }
      #rvdid-11539-39 {
        padding: 15px 5px;
      }
      #rvdid-11539-40 {
        padding: 15px 5px;
      }
      #rvdid-11539-11 {
        padding: 15px 5px;
      }
    }
    @media (max-width: 414px) {
      #rvdid-11539 {
        box-sizing: border-box;
      }
      #rvdid-11539-5 {
        padding: 30px 10px 10px;
      }
      #rvdid-11539-9 {
        border-width: 0px 0px 1.5px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
      }
    }
  </style>
  <div
    data-type="visual-designer"
    data-framework="wpmenuFramework"
    vd-designer-name="Main Header"
    vd-post-id="540"
    vd-tmpl="vd_tmpl_header"
    designer-type="runningDesigner"
    vd-type="running-designer"
    class="vd-main vd-running-designer vd-pre-1-2"
    vd-version="1.2"
    id="rvdid-11539"
    vd-ts="1611714635"
  >
    <section class="vd-section-widget vd-pre-1-2" vd-type="section" id="rvdid-11539-3">
      <div class="vd-section-container">
        <div class="vd-row-widget vd-pre-1-2" vd-type="row" id="rvdid-11539-2">
          <div class="vd-column-widget vd-pre-1-2 vd-1 vd-sm-1 vd-xs-1" vd-type="column" desktop-width="12" tablet-width="12" mobile-width="12" id="rvdid-11539-1">
            <div class="vd-nav-widget" vd-type="nav" id="rvdid-11539-7">
              <div class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-c-left vd-c-middle vd-sm-horz vd-xs-horz vd-10 vd-sm-1 vd-xs-1" vd-type="nav-cnt" id="rvdid-11539-8" desktop-width="3" tablet-width="12" mobile-width="12">
                <a
                  class="vd-nav-hamb-widget vd-desktop-hidden vd-abs-right vd-right"
                  vd-type="nav-hamburger"
                  id="rvdid-11539-11"
                  vd-text-type="a"
                  href="#/"
                  onmouseup='jQuery(this).closest("[vd-type=&apos;nav-cnt&apos;]").siblings(".vd-collapsable").toggleClass("vd-triggered").find(".vd-triggered").removeClass("vd-triggered");'
                  target="_top"
                  rel="noopener noreferrer"
                >
                  <span class="vd-icontxt-widget fas fa-bars vd-drag-disabled" vd-type="iconTxt" id="rvdid-11539-12"></span><span class="">MENU</span>
                </a>
                <a
                  class="vd-btn-widget"
                  vd-tag-name="Site Title"
                  vd-type="btn"
                  id="rvdid-11539-15"
                  vd-text-type="a"
                  href="#/"
                  vd-dynamic="%7B%22config%22%3A%7B%22type%22%3A%22wp%22%2C%22target%22%3A%22%23rvdid-11539-15%22%7D%2C%22txt%22%3A%7B%22code%22%3A%22c%3D%5C%22S_T%5C%22%20attr%3D%5C%22txt%5C%22%20%22%7D%7D"
                  vd-font-units="px"
                  target="_top"
                  rel="noopener noreferrer"
                >
                  [vd_convert c="S_T" attr="txt" ]
                </a>
              </div>
              <div
                class="vd-horz vd-c-stretch vd-nav-cnt-widget vd-collapsable vd-c-right vd-c-middle vd-slide-v-d vd-desktop-no-anim vd-tablet-hidden vd-mobile-hidden vd-4 vd-sm-1 vd-xs-1 vd-c-xs-center vd-c-sm-center"
                vd-type="nav-cnt"
                id="rvdid-11539-9"
                desktop-width="9"
                tablet-width="12"
                mobile-width="12"
              >
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-13" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">CONSULTING</span></a>
                <div class="vd-dropdown-widget vd-dropdown-hover" vd-type="dropdown" id="rvdid-11539-16" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11539-17"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                    target="_top"
                    rel="noopener noreferrer"
                  >
                    <span>INSIGHTS</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled" vd-type="iconTxt" id="rvdid-11539-18"></span>
                  </a>
                  <div class="vd-dd-cnt-widget vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable vd-c-center" vd-type="dd-cnt" id="rvdid-11539-19">
                    <a class="vd-btn-widget vd-center" vd-type="btn" id="rvdid-11539-20" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 1</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-21" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 2</span></a>
                    <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-22" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 3</span></a>
                  </div>
                </div>
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-30" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">PRACTICE</span></a>
                <div class="vd-dropdown-widget vd-dropdown-hover" vd-type="dropdown" id="rvdid-11539-23" vd-text-type="div">
                  <a
                    href="#/"
                    class="vd-btn-widget"
                    vd-target=""
                    id="rvdid-11539-24"
                    onmouseup='jQuery("[vd-type=&apos;dropdown&apos;],[vd-type=&apos;megamenu&apos;]").not(jQuery(this).parent()).children(".vd-triggered").toggleClass("vd-triggered");jQuery(this).siblings(".vd-collapsable").toggleClass("vd-triggered");'
                    target="_top"
                    rel="noopener noreferrer"
                  >
                    <span>ABOUT</span><span class="vd-icontxt-widget fas fa-angle-down vd-drag-disabled vd-pre-1-2" vd-type="iconTxt" id="rvdid-11539-25"></span>
                  </a>
                  <div class="vd-dd-cnt-widget vd-desktop-hidden vd-tablet-hidden vd-mobile-hidden vd-collapsable vd-c-center vd-pre-1-2" vd-type="dd-cnt" id="rvdid-11539-26">
                    <a class="vd-btn-widget vd-center vd-pre-1-2" vd-type="btn" id="rvdid-11539-27" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 1</span></a>
                    <a class="vd-btn-widget vd-pre-1-2" vd-type="btn" id="rvdid-11539-28" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 2</span></a>
                    <a class="vd-btn-widget vd-pre-1-2" vd-type="btn" id="rvdid-11539-29" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">Service 3</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vd-row-widget" vd-type="row" id="rvdid-11539-4">
          <div class="vd-column-widget vd-7 vd-xs-1 vd-sm-6" vd-type="column" id="rvdid-11539-5" desktop-width="6" tablet-width="7" mobile-width="12">
            <p class="vd-text-widget" vd-type="text" id="rvdid-11539-34" vd-text-type="p">
              <span class="">
                Does the world know<br />
                <span id="rvdid-11539-35">how ecological you are?</span>
              </span>
            </p>
            <div class="vd-row-widget vd-center" vd-type="row" id="rvdid-11539-36">
              <div class="vd-column-widget vd-7 vd-sm-7 vd-xs-1" vd-type="column" id="rvdid-11539-37" desktop-width="6" tablet-width="6" mobile-width="12">
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-39" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">WE CAN HELP</span></a>
              </div>
              <div class="vd-column-widget vd-7 vd-sm-7 vd-xs-1" vd-type="column" id="rvdid-11539-38" desktop-width="6" tablet-width="6" mobile-width="12">
                <a class="vd-btn-widget" vd-type="btn" id="rvdid-11539-40" vd-text-type="a" href="#/" target="_top" rel="noopener noreferrer"><span class="">LEARN MORE</span></a>
              </div>
            </div>
          </div>
          <div class="vd-column-widget vd-7 vd-xs-1 vd-sm-9 vd-mobile-hidden" vd-type="column" id="rvdid-11539-6" desktop-width="6" tablet-width="4" mobile-width="12">
            <img class="vd-img-widget" vd-type="img" id="rvdid-11539-10" src="https://www.visualdesigner.io/wp-content/uploads/templates/tri.png" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- VisualDesigner END -->
